@import "~bootstrap/scss/bootstrap";
@import 'variables';
@import 'mixins';

#root{
	background: $black;
	color: $white;
}

.App {
	max-width: 1920px;
	header{
		font-family: $extrabold;
		font-size: $normal;
		padding: 50px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@media(max-width: 1200px){
			padding: 20px;
		}
		@media(max-width: 600px){
			display: block;
		}
		input {
			display: block;
			margin-left: 50px;
			font-family: $light;
			font-size: $small;
			color: $white;
			width: 30%;
			border: none;
			border-radius: none;
			border-bottom: 2px solid $white;
			background: none;
			transition: .3s ease;
			@media(max-width: 600px){
				margin-left: 0;
				margin-top: 10px;
				width: 100%;
			}
			&:focus {
				border: none;
				outline: none;
				border-bottom: 2px solid $purple;
			}
			&::placeholder {
				color: $white;
			}
		}
	}
	.sidebar-container {
		padding: 50px;
		@media(max-width: 1600px){
			padding: 20px;
		}
		h1 {
			font-family: $extrabold;
			font-size: $big_rwd;
			@media(max-width: 992px){
				font-size: $normal;
			}
			@media(min-width: 1920px){
				font-size: $huge;
			}
		}
		p {
			font-size: $normal;
			font-family: $bold;
			margin-top: 50px;
		}
		button {
			display: none;
			@include black-btn;
			background: $purple;
			cursor: pointer;
			color: $black;
			@media(max-width: 992px){
				display: block
			}
		}
		ul {
			margin-left: 0;
			padding: 0;
			line-height: 30px;
			@media(max-width: 992px){
				display: flex;
				flex-wrap: wrap;
				height: 0;
				overflow: hidden;
			}
			li {
				list-style-type: none;
				font-size: $small;
				cursor: pointer;
				transition: .3s ease;
				padding: 3px 10px;
				width: fit-content;
				&:hover {
					background: $purple;
					color: $black;
					border-radius: 5px;
				}
			}
		}
		.filters-active {
			height: auto;
			overflow: visible;
		}
	}
	.albums-container {
		.cart-container {
			padding: 0;
			@media(max-width: 1200px){
				margin-left: auto;
				margin-right: auto;
			}
			.album-item {
				position: relative;
				margin: 10px;
				border-radius: 20px;
				border: none;
				transition: .3s ease;
				background: $black;
				cursor: pointer;
				&:hover {
					box-shadow: 0 0px 60px rgba($color: $purple, $alpha: 0.6);
				}
				.album-image {
					overflow: hidden;
					margin-bottom: 20px;
					img {
						width: 100%;
						height: auto;
						border-radius: 10px;
					}
				}
				.album-category {
					color: $purple;
					font-size: $tiny !important;
					font-family: $bold;
					text-transform: uppercase;
					letter-spacing: 1.5px;
				}
				.cart-details {
					display: none;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: $white;
					padding: 30px;
					opacity: 0;
					border-radius: 20px;
					button {
						@include black-btn
					}
				}
				.cart-details-active {
					animation: cartAcive .3s forwards ease-out;
					display: block;
					background: $black;
				}
				.card-title {
					font-family: $bold;
					font-size: $small;
				}
				.card-text {
					font-size: $tiny;
				}
				.cart-buttons {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					button {
						@include black-btn;
						background: none;
						border: none;
						color: $white;
						&:hover {
							background: $black;
							color: $white;
						}
					}
					a {
						button {
							background: $purple;
							color: $black;
							font-family: $bold;
							&:hover {
								background: $black;
								color: $white;
							}
						}
					}
				}
			}
		}
		
	}
}

@keyframes cartAcive {
  0% {
	  opacity: 0;
	}
  100% {
	  opacity: 1;
	}
}