@import "~bootstrap/scss/bootstrap";
@import 'variables';
@import 'mixins';

.App {
	header{
		font-family: $extrabold;
		font-size: $normal;
		padding: 50px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@media(max-width: 1200px){
			padding: 20px;
		}
		input {
			display: block;
			margin-left: 50px;
			font-family: $light;
			font-size: $small;
			width: 30%;
			border: none;
			border-radius: none;
			border-bottom: 2px solid $black;
			transition: .3s ease;
			&:focus {
				border: none;
				outline: none;
				border-bottom: 2px solid $purple;
			}
		}
	}
	.sidebar-container {
		padding: 50px;
		@media(max-width: 1200px){
			padding: 20px;
		}
		h1 {
			font-family: $extrabold;
			font-size: $big_rwd;
			@media(max-width: 992px){
				font-size: $normal;
			}
		}
		p {
			font-size: $normal;
			font-family: $bold;
			margin-top: 50px;
		}
		ul {
			margin-left: 0;
			padding: 0;
			line-height: 30px;
			li {
				list-style-type: none;
				font-size: $small;
				cursor: pointer;
				transition: .3s ease;
				&:hover {
					opacity: 0.6
				}
			}
		}
	}
	.albums-container {
		.album-item {
			position: relative;
			margin: 10px;
			border-radius: 20px;
			box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.1);
			border: none;
			transition: .3s ease;
			&:hover {
				box-shadow: 0 30px 40px rgba($color: #000000, $alpha: 0.2);
			}
			.album-image {
				overflow: hidden;
				margin-bottom: 20px;
				img {
					width: 100%;
					height: auto;
					border-radius: 10px;
				}
			}
			.wishlist-btn {
				background: none;
				border: none;
			}
			.cart-details {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: $white;
				padding: 30px;
				opacity: 0;
				border-radius: 20px;
				button {
					@include black-btn
				}
			}
			.cart-details-active {
				animation: cartAcive .3s forwards ease-out;
				display: block
			}
			.h5 {
				font-family: $bold;
				font-size: $normal;
			}
			.cart-buttons {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				button {
					@include black-btn;
					background: $white;
					color: $black;
					&:hover {
						background: $black;
						color: $white;
					}
				}
				a {
					button {
						background: $black;
						color: $white;
						&:hover {
							background: $white;
							color: $black;
						}
					}
				}

				
			}
		}
	}
}

@keyframes cartAcive {
  0% { 
	  opacity: 0;
	}
  100% { 
	  opacity: 1; 
	}
}